pipeline/t3_EventTriggers_ParameterizePipelines.json
{
	"name": "t3_EventTriggers_ParameterizePipelines",
	"properties": {
		"description": "copy of t2 with events integrated and parameterized - any csv added to blobstorage triggers run",
		"activities": [
			{
				"name": "Use Parameters to Copy data into multiple tables",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Convert Tablename from pipeline parm",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "blobstorage//@{pipeline().parameters.filename}"
					},
					{
						"name": "Destination",
						"value": "dbo.@{variables('conv_tablename')}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "t3_inputblob",
						"type": "DatasetReference",
						"parameters": {
							"inputfilename": "@pipeline().parameters.filename"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "t3_outputtable",
						"type": "DatasetReference",
						"parameters": {
							"outputtable": {
								"value": "@variables('conv_tablename')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Convert Tablename from pipeline parm",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "conv_tablename",
					"value": {
						"value": "@replace(pipeline().parameters.filename,'.csv','')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "String"
			}
		},
		"variables": {
			"conv_tablename": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-04-27T01:23:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}