pipeline/t4_ETL_EventTriggers_ParameterizePipelines.json
{
	"name": "t4_ETL_EventTriggers_ParameterizePipelines",
	"properties": {
		"description": "clone of t3 with conditional ETL integrated events based on file",
		"activities": [
			{
				"name": "Use Parameters to Copy data into multiple tables",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Convert Tablename from pipeline parm",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "blobstorage//@{pipeline().parameters.filename}"
					},
					{
						"name": "Destination",
						"value": "dbo.@{variables('conv_tablename')}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "t4_inputblob",
						"type": "DatasetReference",
						"parameters": {
							"inputfilename": "@pipeline().parameters.filename"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "t4_outputtable",
						"type": "DatasetReference",
						"parameters": {
							"outputtable": "@variables('conv_tablename')"
						}
					}
				]
			},
			{
				"name": "Convert Tablename from pipeline parm",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "conv_tablename",
					"value": {
						"value": "@replace(pipeline().parameters.filename,'.csv','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "c_movies",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Use Parameters to Copy data into multiple tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('conv_tablename'),'movies')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Convert Loaded Data - Movies",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "t4_DF1",
									"type": "DataFlowReference",
									"parameters": {
										"sourcetable": {
											"value": "'@{variables('conv_tablename')}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Copy c_ data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Convert Loaded Data - Movies",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "dbo.@{concat('a_',variables('conv_tablename'))}"
								},
								{
									"name": "Destination",
									"value": "dbo.@{concat('a_',variables('conv_tablename'))}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[qa_freqdist]",
									"storedProcedureParameters": {
										"dbname": {
											"type": "String",
											"value": "testdb"
										},
										"schemaname": {
											"type": "String",
											"value": "dbo"
										},
										"tablename": {
											"type": "String",
											"value": {
												"value": "@concat('c_',variables('conv_tablename'))",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "1"
											},
											"sink": {
												"name": "tab",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "2"
											},
											"sink": {
												"name": "col",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "3"
											},
											"sink": {
												"name": "val",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "4"
											},
											"sink": {
												"name": "rec_cnt",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "5"
											},
											"sink": {
												"name": "percentage",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 2
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "t4_outputtable",
									"type": "DatasetReference",
									"parameters": {
										"outputtable": {
											"value": "@concat('c_',variables('conv_tablename'))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "t4_outputtable_a",
									"type": "DatasetReference",
									"parameters": {
										"outputtable": {
											"value": "@concat('a_',variables('conv_tablename'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "c_cars",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Use Parameters to Copy data into multiple tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('conv_tablename'),'cars')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Convert Loaded Data - Cars",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "t4_DF2",
									"type": "DataFlowReference",
									"parameters": {
										"sourcetable": {
											"value": "'@{variables('conv_tablename')}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "String"
			}
		},
		"variables": {
			"conv_tablename": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-04-27T23:49:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}